.icon{
    font-size: 45px;
}
.icon-tab{
    margin-right: 8px;
}
#rating{
    background-color: #2CA5C6;
    padding: 80px;
    color: white;
}
.rating-number{
    font-size: 30px ;
}
#who-we-are{
    padding: 65px;
    background-color: rgb(216, 216, 216);
    color: black;
}
.info-excited{
    background-color: black;
    padding: 5px 10px 5px 10px;
    font-weight: lighter;
}
.col-4{
    padding: 10px;
}
#feature{
    padding-top: 60px;
}
.accordion-item{
    background-color: rgb(188, 230, 255);
}
.accordion-button{
    background-color: rgb(188, 230, 255);
    color: #2CA5C6;
}

