#our-services{
    background-color: #2CA5C6;
    padding: 23px;
    color: white;
}
.texto-servicio{
    font-size: 35px;
}
.ayuda-texto{
    font-size: 17px;
    margin-right: 110px;
}
.col-4{
    padding: 10px;
}
.images{
    cursor: pointer;
}
.resumen{
    font-size: 12px;
}
.icon{
    font-size: 35px;
    padding: 0px;
    margin-right: 8px;
}
.images:hover{
    opacity: 0.5;
    transition: 0.5s;
}
#service-line{
    background-color: #c6ccce;
    padding: 80px;
    color: rgb(0, 0, 0);
}
.subtitle{
    font-size: 12px;
}
#process{
    padding: 50px;
    color: white;
}